::-webkit-scrollbar {
  background: #1d1d1d;
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #14e0e4;
  border-radius: 5px;
  border: 2px solid #1d1d1d;
}

::-webkit-scrollbar-thumb:hover {
  background: #fff;
}

/* Cor do "thumb" enquanto arrasta */
::-webkit-scrollbar-thumb:active {
  background-color: #009b9d;
}

::-webkit-scrollbar-scroll {
  padding: 4px !important;
  margin: 4px !important;
}
