<div class="home">
    <section class="bloco-textos">
        <h1>Clínica Odontológica Radiante</h1>
        <p><span>Bem-vindo</span> à Clínica Odontológica Radiante, onde sorrisos brilham mais do que nunca! Sob os cuidados atenciosos da renomada <span>Dra. Camila Almeida</span>, nossa clínica é um refúgio acolhedor para cuidados dentários excepcionais. Com uma abordagem compassiva e tecnologia de ponta, estamos empenhados em proporcionar a você e sua família uma experiência odontológica que vai além das suas expectativas.</p>
        <p>Na Clínica Odontológica Radiante, acreditamos que um sorriso saudável é a base para uma vida plena. Nossa equipe altamente qualificada está dedicada a oferecer uma variedade de serviços odontológicos, desde limpezas regulares e tratamentos de canal até procedimentos estéticos avançados. Priorizamos a prevenção, educação e conforto do paciente, garantindo que cada visita seja tranquila e livre de estresse.</p>
        <a  href="https://api.whatsapp.com/send?phone=61999687967" target="_blank">Agende uma avaliação</a>
    </section>
    <section class="bloco-imagem">
        <img src="../../../assets/images/dentista.jpeg" alt="Dentista">
    </section>
</div>
